



@model  IEnumerable<DataAccess.Models.ShoppingCartItem>
@if (Model != null && Model.Any())
{
    <h3>Cart <span style="float:right;"></span></h3>
    var total = decimal.Zero;
    var totalPriceByQuantity = decimal.Zero;
    <div style="border: 1px solid #808080;">
        <table class="table">
            @foreach (var item in Model)
            {
                total += item.TotalPrice;
                totalPriceByQuantity = item.Price * item.Quantity;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@totalPriceByQuantity</td>
                </tr>
            }
            <tr>
                <td>Total money</td>
                <td></td>
                <td>@total</td>
            </tr>
        </table>
    </div>
}
else
{

}